@import 'variable';

$color-blue: #00bcd4;
$color-violet: #673ab7;
$color-gold: #ffc107;
$color-pink: #e91e63;
$color-red: #f44336;
$color-grey: #b1d136;
$color-white: #fff;
$color-transparent: rgba(0,0,0,0);
$color-black: #000000;

.navbar-default {
	background-color: $color-transparent;
	border: 0;
	.container-fluid
	{
		margin-top: 10px;
	}
}

.navbar {
	.navbar-brand {
		img {
			max-width: 143px;
			position: relative;
			top: 50%;
			@include translate(0,-50%);
		}
	}
	.navbar-nav {
		li {
			margin-left: 10px;
			a {
				color: $color-violet;
				font-size: 14px;
				span.icon-magnifier {
					font-size: 24px;
					font-weight: bold;
				}
			}
		}
	}
	button#btn-login {
			background: $color-transparent;
			border: $color-transparent;
			color: $color-blue;
		}
	button#btn-register {
			background: $color-blue;
			border: $color-blue;
			color: $color-white;
		}
}

.navbar-nav > li > a:hover {
	text-decoration: none;
	color: $color-red;
}

/* div[class^="col"]{border: solid #333;}  
 */#home-page {
	height: 100vh;
	position: relative;
	.col-md-6 {
		padding:0;
	}
	.left {
		padding:0;
		padding-top: 6%;
		.logo-content {
			padding-top: 70px;
			span	{
				line-height: 72px;
				font-size: 64px;
				font-weight: bold;
				font-family: vnf-quicksand;
				color: $color-blue;
			}
		}
		.logo-small-content {
			padding-top:95px;
			text-align: justify;
			span	{
				color: $color-violet;
				line-height: 1.5;
			}
		}
		.btn-intro {
			padding-top: 45px;
			button#btn-intro-next	{
				background: $color-transparent;
				border: 2px solid $color-violet;
				color: $color-violet;
			}
			button#btn-intro-register {
				background: $color-pink;
				margin-left: 20px;
				border: none;
				color: $color-white;
			}
		}
	}
	.right	{
		padding:0;
		.slide-hapo {
			position: relative;
			.carousel-inner > .item {
				overflow: hidden;
				img {
					width: 100%;
					height: 100vh;
				}
			}
			.btn-prev {
				position: absolute;
				border: 2px solid $color-blue;
				left: 25px;
				top: 50%;
				background: $color-transparent;
				@include translate(0,-50%);
				span	{
					color: $color-blue;
					&.ti-arrow-left {
						margin-left: 0;
						margin-right: 10px;
					}
				}	
			}
			.btn-next {
				position: absolute;
				border: none;
				right: 15px;
				top: 50%;
				background: $color-pink;
				@include translate(0,-50%);
				color: $color-white;
			}
			.carousel-indicators
			{
				position: absolute;
				bottom: 70px;
				left: 95px;
				width: auto;
				margin-left: 0;
				li {
					width: 16px;
					height: 16px;
					border-radius: 50%;
					border: 2px solid;
				}

				li:nth-child(1) {
					border-color: $color-blue;
				}
				li:nth-child(2) {
					border-color: $color-grey;
				}
				li:nth-child(2) {
					border-color: $color-gold;
				}

			}	
		}
	}
	#btn-support {
		background: $color-gold;
		border: none;
		position: absolute;
		position: fixed;
		bottom: 65px;
		right: 14px;
		letter-spacing: 0.2px;
		color: white;
	}
}

#course {
	height: 100vh;
	.course-content {
		padding: 10% 0 0 0;
		.course-logo {
			height: 300px;
		}
		.course-header {
			text-align: center;
			padding-top: 30px;
			span	{
				font-size: 36px;
				font-family: vnf-quicksand;
				&.n5	{
					color: $color-blue;
				}
				&.n4	{

					color: $color-violet;
				}	
				&.n3	{
					margin: 0 -20px 0 -10px;
					color: $color-pink;
				}							
			}
		}
		.course-more-content	{	
			height: 160px;
			text-align: justify;
			padding: 20px 0 0 0;
			line-height: 1.5;
			transform: scale(1.1);
			span	{
				color: $color-black;
			}
		}

		.btn-course-register {
			padding-top: 30px;
			text-align: center;
			.n5 {
				background: $color-blue;
			}
			.n4 {
				background: $color-violet;
			}
			.n3 {
				background: $color-pink;
			}
			.n5,.n4,.n3 {
				border: none;
				color: $color-white;
			}
			.n5>span, .n4>span, .n3>span {
					
					&.ti-angle-double-right {
						margin-left: -8px;
						}
					}
				}
		}
}

#bookself {
	height: 100vh;
	.bookself-header	{
		margin-left: -10%;
		padding-top: 40%;
		ul {
			line-height: 70px;
			list-style: none;
			li {
				span	{
					font-size: 30px;
					color: $color-gold;
					span	{
						margin-left: 30px;
						font-size: 25px;
						color: $color-violet;
						font-family: vnf-quicksand;
						font-weight: bold;
					}
				}
			}
		}
	}
	.btn-bookself-register {
		padding: 30px 0 0 0px;
		button {
			background: $color-blue;
			border: none;
			color: $color-white;
			.ti-angle-double-right {margin-left: -8px;}
		}
	}
	.bookself-right {
		padding-top:22%;
		position: relative;
		.img-center {
			z-index: 10;
			height: 564px;
			background-image: url('../images/875c27f88aa8506dc976795e7db06910cfd2ccd0.jpg');		
			@extend .img-border-radius;
		}
		.img-top {
				z-index: 20;
				height: 300px;
				position: absolute;
				@include fixed-position(11%,0,0,0);
				background-image: url('../images/e3c05783d7718cde5781783c4aea6837285589d5.jpg');
				@extend .img-border-radius;
			}
		.img-bot {
				z-index: 20;
				height: 220px;
				position:absolute;
				@include  fixed-position(84%,0,0,0);
				background-image:url('../images/mac-glasses.jpg');
				@extend .img-border-radius ;
			}
	}
}
#student {
	height: 100vh;
		.student-box {
			transform: scale(1.1);
			margin-top:14%;
			.student-sub-box {
				float: left;
				margin-left: 31px;
				width: 280px;
				.student-circle {
					width: 200px;
					height: 200px;
					border-radius: 50%;
					background-image:url('../images/girl.jpg');
					background-size: cover;
					background-repeat: no-repeat;
					position: relative;
					left: 50%;
					@include translate(-50%,0);
				}
				.student-header	{
					text-align: center;
					margin-top: 70px;
					span {
						font-family: vnf-quicksand;
						font-size: 24px;
						font-weight: bold;
					}
				}
			}
		}
}

#teacher
{
	.carousel {
		position: relative;
		padding: 0;
		.carousel-inner {
			img {
				width: 100%;
				height: 100vh;
			}
			.teacher-header, .teacher-content {
				text-align: justify;
			}
			.teacher-header {
				padding-top: 45%;
				span {
					font-family: vnf-quicksand;
					color: $color-blue;
					font-size: 36px;
					span {
						color: $color-violet;
					}
				}
			}

			.teacher-content {
				padding-top: 40px;
				span {
					font-size: 16px;
					line-height: 1.5;
					font-family: lato-regular;
				}
			}

			.fill-circle {
				padding-top: 100px;
				.carousel-indicators
				{
					li {
						width: 16px;
						height: 16px;
						border-radius: 50%;
						border: 2px solid;
					}

					li:nth-child(1) {
						border-color: $color-blue;
					}
					li:nth-child(2) {
						border-color: $color-grey;
					}
					li:nth-child(2) {
						border-color: $color-gold;
					}

				}	
			}
		}
		.btn-prev {
				position: absolute;
				border: 2px solid $color-blue;
				left: 25px;
				top: 50%;
				background: $color-transparent;
				@include translate(0,-50%);
				span	{
					color: $color-blue;
					&.ti-arrow-left {
						margin-left: 0;
						margin-right: 10px;
					}
				}	
			}
			.btn-next {
				position: absolute;
				border: none;
				right: 15px;
				top: 50%;
				background: $color-pink;
				@include translate(0,-50%);
				color: $color-white;
			}
	}

}

#blog {
	height: 100vh;
	background: #f9f9f9;
	.blog-menu-place {
		background: $color-white;
		height: 80px;
	}
	.cmt-top-left, .cmt-top-right, .cmt-bot-left, .cmt-bot-right {
		//border: solid black;
		border-radius: 30px;
		text-align: justify;
		background-color: $color-white;
		padding: 40px 40px 20px 40px;
		position: relative;
		.fill-circle-img {
			width: 110px;
			height: 110px;
			img {
				border-radius: 50%;
				width: 100%;
				height: 100%;
			}
		}
	}
	.cmt-top-left {
		margin-top: 70px;
		.fill-circle-img{
			position: absolute;
			right: 30px;
			bottom: -50%;
			transform: translate(0,-75%);
		}
		span {
			font-family: lato-regular;
			&.student-name {
				margin-left: 60%;
			}

			&.student-grade {
				margin-left: 65%;
				font-size: 14px;
				font-style: italic;
			}
		}
	}
	.cmt-top-right {
		margin-top: 180px;
		.fill-circle-img{
			position: absolute;
			right: 30px;
			bottom: -60px;
			transform: translate(0,-10%);
		}

		span {
			font-family: lato-regular;
			&.student-name {
				margin-left: 50%;
			}
			&.student-grade {
				margin-left: 55%;
				font-size: 14px;
				font-style: italic;
			}
		}
	}

	.cmt-bot-left {
		margin-top: 110px;
		.fill-circle-img{
			position: absolute;
			right: 30px;
			bottom: -60px;
			transform: translate(0,-10%);
		}

		span {
			font-family: lato-regular;
			&.student-name {
				margin-left: 50%;
			}
			&.student-grade {
				margin-left: 55%;
				font-size: 14px;
				font-style: italic;
			}
		}
	}

	.cmt-bot-right {
		margin-top: 126px;
		.fill-circle-img{
			position: absolute;
			right: 30px;
			bottom: -60px;
			transform: translate(0,-10%);
		}

		span {
			font-family: lato-regular;
			&.student-name {
				margin-left: 50%;
			}
			&.student-grade {
				margin-left: 55%;
				font-size: 14px;
				font-style: italic;
			}
		}
	}

	.cmt-top-left:hover, 
	.cmt-bot-right:hover, 
	.cmt-top-right:hover, 
	.cmt-bot-left:hover {
		 box-shadow: 30px 30px 50px 0 rgba(0, 0, 0, 0.2);
		 transform: scale(1.2);
		 cursor: pointer;
	}
}

#contact {
	.contact-left {
		form {
			margin-top: 220px;
			h1 {
				font-family: vnf-quicksand;
				color: $color-blue;
			}
			.form-input-group {
				border: 1px solid #00bcd4;
				height: 50px;
				margin-top: 20px;
				border-radius: 100px;
				position: relative;	
				&.first-input {
					margin-top: 40px;
				}
				.form-input-icon {
					position: absolute;
					left: 15px;
					top: 50%;
					@include translate(0,-50%);
					span {
						color: $color-blue;
					}
				}
					input, textarea {
						margin-left: 40px;
						width: 85%;
						height: 95%;
						border-radius: 100px;
						border: none;
						resize: none;
					}
					input:focus,textarea:focus {
						outline: none;
					}
					&.large-area {
						height: 250px;
						border-radius: 30px;
						.form-input-icon {
							position: absolute;
							top: 25px;
						}
						input,textarea {
						margin-top: 10px;
						border-radius: 20px;
						}
					}

					.text-ip {
						height: 200px;
					}
			}

			.form-input-group:hover {
				  box-shadow: 0 0 5px 0 #673ab7;
				  border: solid 1px #673ab7;

			}

			button#btn-form {
				position: absolute;
				right: 10px;
				margin-top: 25px;
				color: $color-white;
				border: none;
				background: #00bcd4;
			}
		}
	}

	.contact-right {
		position: relative;
		iframe {
			width: 100%;
			height: 100vh;
		}
		img {
			width: 307px;
			height: 250px;
			position: absolute;
			top: 320px;
			right: 55px;
		}
		.map-content {
			position: absolute;
			bottom: 150px;
			left: 150px;
			line-height: 24px;
			text-align: justify;
		}
	}
}
