@import 'variable';

$color-blue: #00bcd4;
$color-violet: #673ab7;
$color-gold: #ffc107;
$color-pink: #e91e63;
$color-red: #f44336;
$color-grey: #b1d136;
$color-white: #fff;
$color-transparent: rgba(0,0,0,0);

.navbar-default{
	background-color: $color-transparent;
	border: 0;
	.container-fluid
	{
		margin-top: 10px;
	}
}

.navbar{
	.navbar-brand
	{
		img
		{
			width: 143px;
			position: relative;
			top: 50%;
			@include translate(0,-50%);
		}
	}
	.navbar-nav
	{
		li{
			margin-left: 10px;
			a
			{
				color: $color-violet;
				font-size: 14px;
				span.icon-magnifier
				{
					font-size: 24px;
					font-weight: bold;
				}
			}
		}
	}
	button#btn-login
		{
			background: $color-transparent;
			border: $color-transparent;
			span
			{
				color: $color-blue;
			}
		}
	button#btn-register
		{
			background: $color-blue;
			border: $color-blue;
			span
			{
				color: $color-white;
			}
		}
}

.navbar-nav > li > a:hover
{
	text-decoration: none;
	color: $color-red;
}

/* div[class^="col"]{border: solid #333;}
 */#home-page
{
	height: 100vh;
	.left
	{
		padding-top: 6%;
		.logo-content
		{
			padding-top: 70px;
			span
			{
				line-height: 72px;
				font-size: 64px;
				font-weight: bold;
				font-family: vnf-quicksand;
				color: $color-blue;
			}
		}
		.logo-small-content
		{
			padding-top:95px;
			text-align: justify;
			span
			{
				color: $color-violet;
				line-height: 1.5;
			}
		}
		.btn-intro
		{
			padding-top: 45px;
			button#btn-intro-next
			{
				background: $color-transparent;
				border: 2px solid $color-violet;
				span
				{
					color: $color-violet;
				}
			}
			button#btn-intro-register
			{
				background: $color-pink;
				margin-left: 20px;
				border: none;
				span
				{
					color: $color-white;
				}
			}
		}
	}
	.right
	{
		&.col-md-12
		{
			padding: 0;
		}
		.slide
		{
			height: 100vh;
			background-image: url('../fonts/slide-section1.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			.btn-prev
			{
				border: 2px solid $color-blue;
				position: relative;
				left: 25px;
				top: 50%;
				background: $color-transparent;
				@include translate(0,-50%);
				span
				{
					color: $color-blue;
					&.ti-arrow-left
					{
						margin-left: 0;
						margin-right: 10px;
					}
				}	
			}
		}
			.btn-next
			{
				border: none;
				position: relative;
				left: 78% ;
				top: 50%;
				background: $color-pink;
				@include translate(0,-50%);
				span
				{
					color: $color-white;
				}	
			}
	}
}

